@import './components/App/App';
@import './components/Post/Post';
@import './components/home/home';
@import './components/counterControl/counterControl';
@import './components/counterOutput/counterOutput';
@import './components/redux/ReduxComponent';

body {
  margin: 0;
  padding: 0;
  font-family: 'Acme', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
